/* Category Page */
.search-container {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  display: flex;
}
.search-container input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.search-container button {
  color: white;
  width: 150px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.container.content {
  margin-top: 30px;
  margin-bottom: 30px;
}
.category-page .row {
  margin: 30px 0;
}
.category-page .panel-group {
  background: white;
}
#collapse1 div {
  padding: 10px;
}
#collapse1 div a:hover {
  color: rgba(9, 121, 114, 1);
}
.category-page .col-sm-3 {
  padding: 0 !important;
}
.category-page .panel-title {
  font-weight: bold;
  color: rgba(9, 121, 114, 1);
}
.category-page .panel-title span {
  float: right;
  font-size: 20px;
  margin-top: -3px;
}
.page-body {
  background: rgb(9, 121, 114);
  background: linear-gradient(
    270deg,
    rgba(9, 121, 114, 1) 34%,
    rgba(0, 193, 181, 1) 100%
  );
}
.category-page .panel-heading {
  background: rgb(240, 240, 240);
  padding: 10px;
}

.col-sm-9.product-container {
  padding-left: 20px;
  padding-right: 0;
  .products{
    img{
      object-fit: contain;
    }
    ul li .col-md-3, ul li .col-md-9{
      display: flex;
      align-items: center;
    }
  }
}
.col-sm-9 .products {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}
.brand-item-container {
  display: flex;
  padding: 0 !important;
}
.category-nav-toggle:hover .dropdown-menu.category-item {
  display: block !important;
}
.dropdown-menu {
  top: 48px !important ;
}
ul.breadcrumbs{
  margin-bottom: 15px;
}
ul.breadcrumbs li {
  display: inline;
  font-size: 15px;
 
}
ul.breadcrumbs li:nth-child(n+2):before {
  padding: 0 8px;
  color: white;
  content: ">";
}
ul.breadcrumbs li a {
  text-decoration: none;
  color: white;
}
ul.breadcrumbs li a:hover{
  text-decoration: underline;
}
ul.postLink{
  margin-left: 10px;
}
//   Model page

.model-page .col-sm-12 {
  padding: 0;
}
.model-page .model-container {
  display: flex;
}
.model-page .model-container > div {
  padding: 20px;
}
.model-page .model-container > div:first-child {
  width: 55%;
}
.model-page .model-container > div:last-child {
  width: 45%;
}
.model-container {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}
.model-container .p_heading h2 {
  margin-bottom: 0;
  color: black;
}
.model-container .p_details {
  margin: 20px 0;
}
.model-container .p_details p {
  margin-bottom: 0;
  color: black;
}
.model-container .p_bestprices h5 {
  color: black;
}
.model-container .p_bestprices div:first-of-type > div {
  border: 1px green solid;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.model-container .p_bestprices div:first-of-type > div:not(:last-child) {
  margin-bottom: 10px;
}
.model-page .row {
  margin: 30px 0;
}
.model-page .row .col-sm-9 > div,
.model-page .row .col-sm-3 > div {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}
.model-page .row .col-sm-9 > div {
  margin-right: 30px;
}
.model-page .row > div {
  padding: 0;
}
.model-page .row .col-sm-9 table {
  border-color: rgba(150, 150, 150, 0.4) !important;
}
.model-page .row .col-sm-9 table * {
  text-align: center;
  border-color: rgba(150, 150, 150, 0.8);
}
.model-page .product-image-section .col-sm-12.product-gallery {
  display: flex;
  justify-content: space-between;
}
.model-page .product-image-section .col-sm-12.product-gallery .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.5);
    transition: 1s; 
}
.model-page .product-image-section .col-sm-12.product-gallery > div {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.model-page .product-image-section {
    .col-sm-12.product-gallery > div img {
        height: 100px;
        object-fit: contain;
      }
    .col-sm-12.product-gallery > div:hover .overlay {
        display: none;
        transition: 1s;
    }
}
.page-404{
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.page-404 h1{
  font-size: 90pt;
  font-weight: 900;
  color: white;
  text-align: center;
}

.col-sm-4{ 
  font-size: 20px;
  font-weight: 900;

  margin-top: 10px;
  text-align: center;
}
.col-sm-4 p{ 
  padding: 20px;
  border-radius: 6px;
}

.model-page .row > div > div{
  height: 100%;
}

.model-page{
  .similar-product-row.row{
     margin-top: 0;
    .col-sm-4{
      padding: 15px;
    }
    .col-sm-4 a div{
      padding: 10px;
    }
    .col-sm-4 > a div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{
        height: 150px;
        object-fit: contain;
      }
      span{
        margin-top: 15px;
      }
    }
    .col-sm-4:hover a div{
      box-shadow: 0 0 10px rgba(100, 100,100, .3);
      border-radius: 10px;
    }
  }
  .compare-table{
    display: block;
    white-space: nowrap;
    overflow-x: auto;
      table {
        margin-bottom: 10px;
        th{
          min-width: 253px;;
        }
      }
  }
  ::-webkit-scrollbar {
    height: 9px;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-track {
    background: #f7f7f7;
  }
  ::-webkit-scrollbar-thumb {
    background: #e8e8e8;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #097972;
  }
}


.col-md-3  h3{

color: black;
font-size: 18px;
font-style: bold; 
font-weight: 900;
margin: 0px;
}
